<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.lesfrancschatons.phonegap.plugins.baker"
    version="0.0.1">

    <name>Baker</name>
	<description>Baker integration for phonegap</description>
    <engines>
        <engine name="cordova" version=">=2.4.0" />
    </engines>
	
	<license>MIT</license>
    <keywords>cordova,phonegap,newsstand,news,stand,kit,newsstandkit,ios,baker</keywords>
    <!-- ios -->
    <platform name="ios">
        <js-module src="Baker.js" name="Baker">
            <clobbers target="newsstand" />
            <clobbers target="storekit" />
        </js-module>
        
        <!-- Cordova 2.2 -->
        <plugins-plist key="Baker" string="Baker" />
                    
        <!-- Cordova 2.5+ -->
        <config-file target="config.xml" parent="/*">
            <feature name="Baker">
                <param name="ios-package" value="Baker"/>
            </feature>
        </config-file>

        <header-file src="src/ios/Baker.h"  compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/Baker.m"  compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/ShelfController.h"  compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/ShelfController.m"  compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/IssueController.h"  compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/IssueController.m"  compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/AppDelegate+notification.h"  compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/AppDelegate+notification.m"  compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerShelf/Constants.h" compiler-flags="-fno-objc-arc" />

        <header-file src="src/ios/BakerShelf/lib/NSData+Base64.h" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/BakerShelf/lib/NSData+Base64.m" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerShelf/lib/NSString+Extensions.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerShelf/lib/NSString+Extensions.m" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerShelf/lib/UIColor+Extensions.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerShelf/lib/UIColor+Extensions.m" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerShelf/lib/NSMutableURLRequest+WebServiceClient.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerShelf/lib/NSMutableURLRequest+WebServiceClient.m" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerShelf/lib/NSString+UUID.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerShelf/lib/NSString+UUID.m" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerShelf/lib/NSURL+Extensions.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerShelf/lib/NSURL+Extensions.m" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerShelf/lib/Reachability.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerShelf/lib/Reachability.m" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerShelf/IssuesManager.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerShelf/IssuesManager.m" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerShelf/PurchasesManager.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerShelf/PurchasesManager.m" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerShelf/ShelfStatus.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerShelf/ShelfStatus.m" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerShelf/BakerIssue.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerShelf/BakerIssue.m" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerShelf/BakerAPI.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerShelf/BakerAPI.m" compiler-flags="-fno-objc-arc"/>



        <header-file src="src/ios/BakerView/lib/JSONStatus.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerView/lib/JSONStatus.m" compiler-flags="-fno-objc-arc"/>
        
        <header-file src="src/ios/BakerView/lib/SSZipArchive.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerView/lib/SSZipArchive.m" compiler-flags="-fno-objc-arc"/>
        
        <header-file src="src/ios/BakerView/lib/GTMNSString+HTML.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerView/lib/GTMNSString+HTML.m" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerView/lib/GTMDefines.h" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerView/lib/Utils.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerView/lib/Utils.m" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerView/BakerBook.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerView/BakerBook.m" compiler-flags="-fno-objc-arc"/>


        <header-file src="src/ios/BakerView/lib/minizip/zip.h" target-dir="minizip/" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerView/lib/minizip/zip.c" target-dir="minizip/" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerView/lib/minizip/unzip.h" target-dir="minizip/" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerView/lib/minizip/unzip.c" target-dir="minizip/" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerView/lib/minizip/mztools.h" target-dir="minizip/" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerView/lib/minizip/mztools.c" target-dir="minizip/" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerView/lib/minizip/ioapi.h" target-dir="minizip/" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/BakerView/lib/minizip/ioapi.c" target-dir="minizip/" compiler-flags="-fno-objc-arc"/>

        <header-file src="src/ios/BakerView/lib/minizip/crypt.h" target-dir="minizip/" compiler-flags="-fno-objc-arc"/>


        

        <framework src="SystemConfiguration.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="StoreKit.framework" />
        <framework src="UIKit.framework" />
        <framework src="Foundation.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="MessageUI.framework" />

        <framework src="NewsstandKit.framework" />
        <framework src="StoreKit.framework" />
        <framework src="libz.dylib" />


        <!-- Info.plist -->
        <config-file target="*-Info.plist" parent="UINewsstandApp">
            <true/>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>newsstand-content</string>
                <string>remote-notification</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleIcons">
            <dict>
                <key>CFBundlePrimaryIcon</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>icon-small</string>
                        <string>icon-40</string>
                        <string>icon-50</string>
                        <string>icon-76</string>
                        <string>icon-60</string>
                        <string>icon</string>
                        <string>icon@2x</string>
                        <string>icon-72</string>
                        <string>icon-72@2x</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <true/>
                    <key>UINewsstandIcon</key>
                    <dict>
                        <key>CFBundleIconFiles</key>
                        <array>
                            <string>icon-newsstand</string>
                        </array>
                        <key>UINewsstandBindingEdge</key>
                        <string>UINewsstandBindingEdgeLeft</string>
                        <key>UINewsstandBindingType</key>
                        <string>UINewsstandBindingTypeMagazine</string>
                    </dict>
                </dict>
            </dict>
        </config-file>
    </platform>
</plugin>
